body {
    font-family: 'Poppins', sans-serif;
    margin: 10%;
}

h1{
    font-size: 40pt;
    line-height: 1.2;
}

li {
line-height: 1.8;
}

img {
    width: 30%;
}

section {
    /*display: flex;
    flex-wrap: wrap;
    padding-left: 0px;*/
    margin-bottom: 10%;
}