body{
    margin: 10%;
    font-family: 'Ubuntu', sans-serif;

}

section {
    margin: 3em 0;
}

h1 {
    font-size: 50pt;
    line-height: 0.2em;

}

h2 {
    font-size: 20pt;
}


p {
    text-indent: 1.3em;
    font-size: 16pt;
    line-height: 16pt;
}


.label {
    font-size: 10pt;
    color: rgba(167, 138, 247, 0.945);
}

.styledFont {
    font-family: 'Ubuntu', sans-serif;

}section.FontWeight p.Light {
    font-weight: lighter;
}
section.FontWeight p.Normal {
    font-weight: normal;
}

section.FontWeight p.Bold {
    font-weight: bold;
}

section.FontStyle p.Normal {
    font-style: normal;
}

.italic {
    font-style:italic;
}

.normalspacing {
    letter-spacing: normal;
}

.wide {
    letter-spacing: .3em;
}

.narrow {
    letter-spacing: -.06em;
}

.nodecoration {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.LineThrough {
    text-decoration: line-through;
}

.overline {
    text-decoration: overline;
}

.notransformn {
    text-transform: none;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}
